@* @page "/"
@using Event_Management.API.Views.Checkout
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Store</PageTitle>

<h1>Store</h1>
<hr class="mb-5" />

<input />
    
<button @onclick="() => OnClickBtnBuyNowAsync(eventStripe)" class="btn btn-dark btn-lg d-block">BUY NOW</button>
                      
 *@